$black-dark: #1e1e1e;
$black-light: #484b4f;
$white: #fcfcfc;
$primary-grey: #f2f6f6;
$secondary-grey: #c1c9cd;
$dark-grey: #97a4a8;
$primary-blue: #82b1dd;
$secondary-blue: #f1f8fe;
$primary-green: #87dda4;
$secondary-green: #f3fcf7;
$primary-yellow: #f9cd87;
$secondary-yellow: #fef7eb;
